@charset 'utf-8';
@import 'partials/mixins';
@import 'partials/variables';

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    --offset: 5px;
    --border-size: 1px;
    
    display: block;
    position: relative;
    padding: 1em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
    
    &:hover {
        background: rgba(100, 0, 0, .03);
    }
    
    &__horizontal,
    &__vertical {
        position: absolute;
        top: var(--horizontal-offset, 0);
        right: var(--vertical-offset, 0);
        bottom: var(--horizontal-offset, 0);
        left: var(--vertical-offset, 0);
        transition: transform .8s ease;
        will-change: transform;
        
        &::before {
            content: '';
            position: absolute;
            border: inherit;
        }
    }
    
    &__horizontal {
        --vertical-offset: calc(var(--offset) * -1);
        border-top: var(--border-size) solid currentcolor;
        border-bottom: var(--border-size) solid currentcolor;
        
        &::before {
            top: calc(var(--vertical-offset) - var(--border-size));
            bottom: calc(var(--vertical-offset) - var(--border-size));
            left: calc(var(--vertical-offset) * -1);
            right: calc(var(--vertical-offset) * -1);
        }
    }
    
    &:hover &__horizontal {
        transform: scaleX(0);
    }
    
    &__vertical {
        --horizontal-offset: calc(var(--offset) * -1);
        border-left: var(--border-size) solid currentcolor;
        border-right: var(--border-size) solid currentcolor;
        
        &::before {
            top: calc(var(--horizontal-offset) * -1);
            bottom: calc(var(--horizontal-offset) * -1);
            left: calc(var(--horizontal-offset) - var(--border-size));
            right: calc(var(--horizontal-offset) - var(--border-size));
        }
    }
    
    &:hover &__vertical {
        transform: scaleY(0);
    }
}
.botton--plans {
    --offset: 5px;
    --border-size: 1px;
    padding: 30rem;
}

html {
    body {
        color: white;
        background-color: #2D2C29;
        .page__header {
            height: 100vh;
            width: 100%;
            background-image: linear-gradient(rgba(34, 37, 37, 0.7), rgba(34, 37, 37, 0.7)), url('../img/bg_hero_01-new.jpg') ;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            
            .header_nav {
                font-family: $font-sans-serif;
                background-color: black;
                height: 4rem;
                z-index: 9999;
                position: fixed;
                width: 100%;
                
                .header_nav__logo {
                    position: absolute;
                    left: 50%;
                    top: 2rem;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    #header_nav__logo-img {
                        height: 2rem;
                    }
                    #header_nav__logo-text {
                        @include normalize-link(white);
                        font-size: 1.5rem;
                    }
                }
                .header_nav__items {
                    float: right;
                    margin-right: 5rem;
                    padding: 1.2rem;
                    .header_nav__item {
                        display: inline-block;
                        a {
                            margin-right: 4rem;
                            font-size: 1rem; 
                            @include normalize-link(white);
                        }
                    }
                    .header_nav__item--top {
                        cursor: pointer;
                    }
                }
                .progress__container {
                    width: 100%;
                    height: 1px;
                    background: #5A5959;
                    position: absolute;
                    bottom: 0;
                    .progress__bar {
                        width: 0%;
                        height: 1px;
                        background: white;
                    }
                }
            }
            .hero {
                padding-top: 8%;
                display: flex;
                flex-direction: row;
                align-items: center;
                .hero__imgbox {
                    // margin-right:5rem;
                    .hero__img {
                        width: 90%;
                        height: auto;
                        float: right;
                    }
                }

                .hero__textbox {
                    font-size: 2rem;
                    float: right;
                    display: block;
                    margin-left: 5rem;
                    .hero__textbox_title {
                        font-size: 4rem;
                    }

                    .hero__textbox_collab {
                        float: left;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding-right: 1rem;
                        border-bottom: 1px solid white;
                        .collab__node {
                            display: flex;
                            .collab__node_logo {
                                height: 2.8rem;
                            }
                            .collab__node_text {
                                margin-left: 0.5rem;
                                font-size: 1.9rem;
                                font-weight: 400;
                            }
                        }
                        .collab__node--01 {
                            .collab__node_text--01 {
                                font-family: $font-sans-serif;
                                font-size: 1.7rem;
                            }
                            .collab__node_logo--01 {
                                height: 2.8rem;
                            }
                        }
                        .collab__node--02 {
                            padding-top: 0.3rem;
                            .collab__node_logo--02 {
                                border-radius: 0.5rem;
                                height: 2rem;

                            }
                            .collab__node_text--02 {
                                margin-left: 1rem;
                            }
                        }
                        .collab__multiply_icon {
                            height: 3rem;
                            margin-right: 1rem;
                            margin-left: 1rem;
                        }
                    }
                    .hero__textbox_text {
                        float: left;
                        line-height: 3rem;
                        font-size: 1.6rem;
                        padding: 15% 1rem 5rem 0;
                    }
                    .button--hero {
                        float: left;
                    }
                }

                .banner {
                    background-color: black;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding: 3rem 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .banner__title {
                        font-size: 2rem;
                        margin-bottom: 2rem;
                    }

                    .banner__imgs {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .banner__img {
                            display: inline-block;
                            height: 2rem;
                            padding: 0 2%;
                        }

                        .banner__img--02 { height: 4rem; }
                        .banner__img--03 { height: 3rem; }
                        .banner__img--04 { height: 2.5rem; }
                        .banner__img--05 { height: 1.5rem; }
                        .banner__img--06 { height: 2.5rem; }
                        .banner__img--08 { height: 3.5rem; }
                    }
                }
            }
        }

        main {
            display: flex;
            flex-direction: column;
            section {
                padding: 3rem 0rem;
            }

            .reasons_section {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: linear-gradient(rgba(34, 37, 37, 0.8), rgba(34, 37, 37, 0.8)), url('../img/bg_reasons_01.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                .reasons_section__title {
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }
                .list__components {
                    display: inline-block;

                    .list__components_row {
                        display: flex;
                        flex: 1;

                        .list__component {
                            padding: 2rem 0rem;
                            width: 50rem;
                            border: solid;
                            background-color: rgba(45, 44, 41, 0.8);
                            border-color: white;
                            border-width: 0.5px;
                            text-align: center;
                            font-size: 1.6rem;
                            margin-left: 0;
                        }
                        .list__component--01,
                        .list__component--03 {
                            margin-right: 3%;
                        }
                        .list__component--02,
                        .list__component--04 {
                            margin-left: 3%;
                        }
                    }
                }
            }
            .profile_section {
                padding: 5rem 20rem;
                display: flex;
                flex-direction: row;
                .profile_section__teacher-pic {
                    align-self: center;
                    height: 35rem;
                }
                .profile_section__textbox {
                    margin-left: 5rem;
                    margin-top: 2rem;
                    .profile_section__headerbox {
                        .profile_section__header--01 {
                            display: flex;
                            border-bottom: 1px solid white;
                            .profile_section__header-title {
                                font-size: 3rem;
                                display: inline-block;
                                align-self: flex-end;
                            }
                            .profile_section__header-company {
                                display: flex;
                                flex-direction: row;
                                margin-left: 10rem;
                                padding-bottom: 0.6rem;;
                                img {
                                    border-radius: 0.5rem;
                                    height: 2rem; 
                                    align-self: flex-end;
                                }
                                h3 {
                                    margin-left: 1rem;
                                    font-size: 1.6rem;
                                    letter-spacing: 0.1rem;
                                    font-weight: 300;
                                    align-self: flex-end;
                                }
                            }
                        }
                        .profile_section__header--02 {
                            margin-top: 0.6rem;
                            font-size: 1.4rem;
                        }
                    }
                    .profile_section__text {
                        font-size: 1.6rem;
                    }
                    .profile_section__text--01 {
                        margin-top: 4rem;
                        margin-bottom: 2rem;
                    }
                }
            }
            .content_section {
                padding: 3rem 10%;
                background-image: linear-gradient(rgba(34, 37, 37, 0.4), rgba(34, 37, 37, 0.4)), url('../img/bg_classes.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                .content_section__itemboxes {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    background-color: rgba(34, 37, 37, 0.6);
                    padding: 3rem;
                    padding-top: 5rem;
                    .content_section__title {
                        align-self: flex-end;
                        font-size: 1.4rem;
                    }
                    .content_section__itembox {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .class_name_box {
                            padding: 2rem;
                            .access {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                .access__icon {
                                    height: 1.5rem;
                                    margin-left: 0.5rem;
                                }
                                .access__icon--01 {
                                    height: 1.1rem;
                                }
                                .access__icon--02 {
                                    height: 1.3rem;
                                }
                            }
                            .class_name_text {
                                font-size: 1.6rem;
                                text-align: right;
                            }
                            .class_name_text--04 {
                                span {
                                    display: block;
                                    font-size: 1.6rem;
                                    white-space: nowrap;
                                    text-align: right;
                                }
                            }
                            border-right: 1px solid white;
                        }
                        .class_detail_box {
                            padding-top: 1.5rem;
                            .class_detail_text {
                                font-size: 1.4rem;
                                
                            }
                        }
                    }
                }
            }
            .steps_section {
                padding: 3rem 15%;
                display: flex;
                flex-direction: column;
                // font-family: $font-sans-serif;
                .steps_section__title {
                    font-size: 1.4rem;
                    align-self: flex-end;
                    margin-bottom: 1rem;
                }
                .steps_section__content {
                    .steps__step_titles {
                        .steps_titles {
                            li { 
                                font-size: 1.4rem;
                                margin-bottom: 1.5rem;
                                padding: 1rem;
                                cursor: pointer;
                                &:hover {
                                    background-color: rgba(#5A5959, 0.2);
                                    border-radius: 0.5rem;
                                }
                            }
                            li.current {
                                transition: 0.5s ease;
                                font-weight: 600;
                                background-color: #5A5959;
                                padding: 1rem;
                                border-radius: 0.5rem;
                            }
                        }
                    }
                    .steps__step_detail {
                        transition: 0.5s ease;
                        padding: 10%;
                        .steps__step_detail--title {
                            h3 {
                                font-size: 1.6rem;
                                margin-bottom: 3rem;
                                line-height: 2.4rem;
                            }
                        }
                        .steps__step_detail--text {
                            p {
                                font-family: $font-sans-serif;
                                font-weight: 300;
                                font-size: 1.4rem;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
            .deadline_section {
                padding: 5rem 15%;
                display: flex;
                flex-direction: column;
                .deadline_section__title {
                    align-self: flex-end;
                    font-size: 1.4rem;
                    margin-bottom: 2rem;
                }
                .deadline_section__deadline_boxes {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .deadline_box {
                        width: 30%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        p {
                            padding: 1rem;
                            background-color: rgba(34, 37, 37, 0.6);
                        }
                        .deadline_box__season {
                            font-size: 1.4rem;
                            margin-bottom: 10rem;
                        }
                        .deadline_box__deadline_date {
                            font-size: 1.6rem;
                            font-weight: 600;
                        }
                    }
                    .deadline_box--01 {
                        background-image: url('../img/bg_seasons_01.jpg');
                    }
                    .deadline_box--02 {
                        background-image: url('../img/bg_seasons_02.jpg');
                    }
                    .deadline_box--03 {
                        background-image: url('../img/bg_seasons_03.jpg');
                    }
                }
            }
            .plans_section {
                padding: 5rem 15%;
                display: flex; 
                flex-direction: column;
                .plans_section__title {
                    align-self: flex-end;
                    font-size: 1.4rem;
                    margin-bottom: 2rem;
                }
                .plans_section__plan_boxes {
                    // padding: 3rem 10rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .plan_box {
                        background-color: rgba(#DDDDDD, 1);
                        color: black;
                        cursor: pointer;
                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            width: 4px;
                            height: 100%;
                            top: 0;
                            transition: all .4s ease;
                        }
                        &:before {
                            left: 0;
                        }
                        &:after {
                            right: 0;
                        }
                        &:hover {
                            transition: all .4s ease;
                            box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
                            &:before,
                            &:after {
                                width: 50%;
                            }
                        }
                        position: relative;
                        .plan_box__header {
                            z-index: 9999;
                            padding: 2rem 0rem 0rem 2rem;
                            display: flex;
                            align-items: center;
                            margin-bottom: 1.5rem;
                            .plan_box__plan_icon {
                                height: 2rem;
                                margin-right: 1rem;
                            }
                            .plan_box__title {
                                font-size: 1.6rem;
                            }
                        }
                        .plan_box__price {
                            z-index: 9999;
                            font-size: 2rem;
                            padding: 2rem;
                            text-align: center;
                            span {
                                font-size: 1rem;
                            }
                        }
                        .plan_box__features {
                            z-index: 9999;
                            padding-top: 1rem;
                            padding: 2rem;
                            margin-bottom: 10rem;
                            .plan_box__feature {
                                display: flex;
                                align-items: center;
                                margin-bottom: 0.5rem;
                                .plan_box__feature_img {
                                    height: 1.5rem;
                                    margin-right: 1rem;
                                }
                                .plan_box__feature_text {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                        .button--plans {
                            color: black;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 1.2rem;
                            padding: 1.5rem 3rem;
                            z-index: 9999;
                        }
                    }
                    .plan_box--basic {
                        &:before,
                        &:after {
                            background-color: rgba($color-basic, 0.1);
                        }
                        .plan_box__header {
                            .plan_box__plan_icon--basic {
                                height: 1.4rem;
                            }
                        }
                        .plan_box__price {
                            background-color: rgba($color-basic, 0.3);
                        }
                    }
                    .plan_box--standard {
                        &:before,
                        &:after {
                            background-color: rgba($color-standard, 0.1);
                        }
                        .plan_box__header {
                            .plan_box__plan_icon--standard {
                                height: 1.7rem;
                            }
                        }
                        .plan_box__price {
                            background-color: rgba($color-standard, 0.3);
                        }
                    }
                    .plan_box--premium {
                        &:before,
                        &:after {
                            background-color: rgba($color-premium, 0.1);
                        }
                        .plan_box__price {
                            background-color: rgba($color-premium, 0.3);
                        }
                        
                    }
                }
            }
        }
        footer {
            background-color: #535353;
            display: flex;
            flex-direction: column;
            padding: 3rem 10%;
            .footer__logo {
                align-self: center;
                margin-bottom: 5rem;
                img {
                    height: 10rem;
                }
                h3 {
                    font-size: 3rem;
                    span {
                        display: block;
                        font-size: 0.7rem;
                    }
                }
            }
            .footer__section--middle {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                // padding: 0 10%;
                .footer__feature {
                    .footer__feature_title {
                        font-size: 1.4rem;
                        font-family: $font-sans-serif;
                        font-weight: 300;
                        color: #AAAAAA;
                        margin-bottom: 3rem;
                    }
                    ul {
                        margin-bottom: 5rem;
                        list-style: none;
                        li {
                            font-family: $font-sans-serif;
                            font-weight: 300;
                            font-size: 1.4rem;
                        }
                    }
                }
                .footer__feature--service {
                    ul {
                        li {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
                .footer__feature--contact {
                    .footer__contact_text,
                    a {
                        font-size: 1.4rem;
                        font-family: $font-sans-serif;
                        font-weight: 300;
                    }
                    .footer__contact_text {
                        a:link {
                            color: rgba(166, 172, 255, 0.5);
                        }
                        a:hover,
                        a:visited {
                            color: #a6acff;
                        }
                    }
                }
                .footer__feature--social-media {
                    ul {
                        li {
                            display: inline-block;
                            margin-right: 1rem;
                            a {
                                .social_icon {
                                    height: 3rem;
                                }
                            }
                        }
                    }
                }
            }
            .footer__section--bottom {
                padding: 3rem;
                text-align: center;
                font-family: $font-sans-serif;
                font-size: 1rem;
                color: #8B8B8B;
                border-top: 1px solid #8B8B8B;
            }
        }
    }
}