@charset 'utf-8';
@import 'partials/mixins';
@import 'partials/variables';

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.access__icon {
    height: 5rem;
}
.social_icon {
    height: 5rem;
}

html {
    body {
        background-color: #2D2C29;
        color: white;
        // display: flex;
        .page__header {
            height: 100vh;
            width: 100%;
            background-image: linear-gradient(rgba(34, 37, 37, 0.7), rgba(34, 37, 37, 0.7)), url('../img/bg_hero_01.jpg') ;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            
            .header_nav {
                font-family: $font-sans-serif;
                background-color: black;
                height: 4rem;
                .header_nav__logo {
                    position: absolute;
                    left: 50%;
                    top: 2rem;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    #header_nav__logo-img {
                        height: 2rem;
                    }
                    #header_nav__logo-text {
                        @include normalize-link(white);
                        font-size: 1.5rem;
                    }
                }
                .header_nav__items {
                    float: right;
                    margin-right: 5rem;
                    padding: 1.2rem;
                    .header_nav__item {
                        display: inline-block;
                        a {
                            margin-right: 4rem;
                            font-size: 1rem; 
                            @include normalize-link(white);
                        }
                    }
                }
            }

            .hero {
                .hero__imgbox {
                    .hero__img {
                        width: 40%;
                        height: 50%;
                        position: absolute;
                        top: 20%;
                        right: 50%;
                    }
                }

                .hero__textbox {
                    font-size: 2rem;
                    float: right;
                    padding: 11rem 5rem;
                    display: block;

                    .hero__textbox_title {
                        font-size: 4rem;
                    }

                    .hero__textbox_collab {
                        float: left;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        .collab__node {
                            display: flex;
                            .collab__node_logo {
                                height: 2.8rem;
                            }
                            .collab__node_text {
                                margin-left: 0.5rem;
                                font-size: 1.9rem;
                                font-weight: 400;
                            }
                        }
                        .collab__node--01 {
                            .collab__node_text--01 {
                                font-family: $font-sans-serif;
                                font-size: 1.7rem;
                            }
                            .collab__node_logo--01 {
                                height: 2.8rem;
                            }
                        }
                        .collab__node--02 {
                            padding-top: 0.3rem;
                            .collab__node_logo--02 {
                                border-radius: 0.5rem;
                                height: 2rem;

                            }
                            .collab__node_text--02 {
                                margin-left: 1rem;
                            }
                        }
                        .collab__multiply_icon {
                            height: 3rem;
                            margin-right: 1rem;
                            margin-left: 1rem;
                        }
                    }

                    // .hero__textbox_collab:after {
                    //     @include border-line(50rem, 1rem, white);
                    // }

                    .hero__textbox_text {
                        float: left;
                        line-height: 3rem;
                        font-size: 1.6rem;
                        padding: 7rem 1rem 5rem 0;
                    }
                    .button--hero {
                        float: left;
                    }
                }

                .banner {
                    background-color: black;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding: 2rem 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .banner__title {
                        font-size: 1.6rem;
                        margin-bottom: 2rem;
                    }

                    .banner__imgs {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .banner__img {
                            display: inline-block;
                            height: 2rem;
                            padding: 0 2%;
                        }

                        .banner__img--02 { height: 4rem; }
                        .banner__img--03 { height: 3rem; }
                        .banner__img--04 { height: 2.5rem; }
                        .banner__img--05 { height: 1.5rem; }
                        .banner__img--06 { height: 2.5rem; }
                        .banner__img--08 { height: 3.5rem; }
                    }
                }
            }
        }

        main {
            
        }
    }
}